In [1]:
import pandas as pd
import numpy as np

import geopandas as gpd
from shapely.geometry import Point
import rtree
import pickle

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

import secret_key

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [2]:
mta_df = pd.read_csv("data/mta_turnstile/turnstile_170107.txt")
mta_df = mta_df.append(pd.read_csv("data/mta_turnstile/turnstile_170114.txt"))
mta_df = mta_df.append(pd.read_csv("data/mta_turnstile/turnstile_170121.txt"))
mta_df = mta_df.append(pd.read_csv("data/mta_turnstile/turnstile_170128.txt"))

In [3]:
mta_df.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,03:00:00,REGULAR,5991546,2028378
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,07:00:00,REGULAR,5991565,2028389
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,11:00:00,REGULAR,5991644,2028441
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,15:00:00,REGULAR,5991971,2028502
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/31/2016,19:00:00,REGULAR,5992418,2028543

In [4]:
mta_df['DATE'] = pd.to_datetime(mta_df.DATE)

In [5]:
mta_df['month'] = mta_df.DATE.dt.month

In [6]:
mta_df['year'] = mta_df.DATE.dt.year

In [7]:
mta_df['day_of_week'] = mta_df.DATE.dt.weekday_name

In [8]:
mta_df.day_of_week.value_counts()

Tuesday      111687
Wednesday    111432
Friday       110914
Thursday     110841
Monday       110819
Sunday       110728
Saturday     110682
Name: day_of_week, dtype: int64

In [12]:
mta_df[mta_df.STATION == 'CENTRAL AV'].head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,month,year,day_of_week
38893,K017,R401,00-00-00,CENTRAL AV,M,BMT,2016-12-31,00:00:00,REGULAR,507074,1691710,12,2016,Saturday
38894,K017,R401,00-00-00,CENTRAL AV,M,BMT,2016-12-31,04:00:00,REGULAR,507081,1691803,12,2016,Saturday
38895,K017,R401,00-00-00,CENTRAL AV,M,BMT,2016-12-31,08:00:00,REGULAR,507099,1691827,12,2016,Saturday
38896,K017,R401,00-00-00,CENTRAL AV,M,BMT,2016-12-31,12:00:00,REGULAR,507175,1691884,12,2016,Saturday
38897,K017,R401,00-00-00,CENTRAL AV,M,BMT,2016-12-31,16:00:00,REGULAR,507256,1692008,12,2016,Saturday

In [23]:
import requests
import json
response = requests.get('https://maps.googleapis.com/maps/api/geocode/json?address=103+st+station+new+york+line+1&key='+secret_key.google_api_key)

In [24]:
#response.json()[['results']
test = json.loads(response.text)

In [27]:
test['results'][0]['geometry']['location']['lat'], test['results'][0]['geometry']['location']['lng']

(40.7902308, -73.9477564)

In [28]:
mta_loc = mta_df.groupby(['STATION', 'LINENAME', 'DIVISION'])['UNIT'].count().reset_index()

In [31]:
mta_loc = mta_loc.drop('UNIT', axis=1)

In [35]:
mta_loc.head()

         STATION LINENAME DIVISION
0           1 AV        L      BMT
1         103 ST        1      IRT
2         103 ST        6      IRT
3         103 ST       BC      IND
4  103 ST-CORONA        7      IRT

In [53]:
import time

In [69]:
for index, loc in mta_loc.iterrows():
    try:
        station = mta_loc.STATION[index]
        linename = mta_loc.LINENAME[index]
        division = mta_loc.DIVISION[index]

        search_query = "https://maps.googleapis.com/maps/api/geocode/json?address="
        for word in station.split(" "):
            search_query += word + '+'

        search_query += 'station+' + linename + '+new+york+'
        search_query += division + '&key=' + secret_key.google_api_key
#         print(search_query)
        response = requests.get(search_query)
        result = json.loads(response.text)

        mta_loc.loc[[index], 'lat'] = result['results'][0]['geometry']['location']['lat']
        mta_loc.loc[[index], 'long'] = result['results'][0]['geometry']['location']['lng']
    except:
        print(mta_loc.STATION[index])
    time.sleep(1)

111 ST
CENTRAL AV
HEWES ST

In [103]:
mta_loc[mta_loc.LINENAME == 'NQR456W']

    STATION LINENAME DIVISION        lat       long
124   59 ST  NQR456W      BMT  40.641568 -74.017678

In [97]:
mta_loc['lat'][328] = 40.706693

/home/iniyavan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [95]:
mta_loc['long'][328] = -73.952892

/home/iniyavan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [100]:
mta_loc['long'][244]

-73.927481

In [102]:
mta_loc.head()

         STATION LINENAME DIVISION        lat       long
0           1 AV        L      BMT  40.763368 -73.959240
1         103 ST        1      IRT  40.773697 -73.982229
2         103 ST        6      IRT  40.790231 -73.947756
3         103 ST       BC      IND  40.796289 -73.961658
4  103 ST-CORONA        7      IRT  40.749780 -73.862646

In [153]:
f = open('storage/mta_loc.pckl', 'wb')
pickle.dump(mta_loc, f)
f.close()

In [104]:
mta_df.shape

(777103, 14)

In [106]:
test = pd.merge(mta_df, mta_loc, on=['STATION', 'LINENAME', 'DIVISION'])

In [107]:
test.shape

(777103, 16)

In [108]:
test.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,month,year,day_of_week,lat,long
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,03:00:00,REGULAR,5991546,2028378,12,2016,Saturday,40.641568,-74.017678
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,07:00:00,REGULAR,5991565,2028389,12,2016,Saturday,40.641568,-74.017678
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,11:00:00,REGULAR,5991644,2028441,12,2016,Saturday,40.641568,-74.017678
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,15:00:00,REGULAR,5991971,2028502,12,2016,Saturday,40.641568,-74.017678
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,19:00:00,REGULAR,5992418,2028543,12,2016,Saturday,40.641568,-74.017678

In [137]:
test['zone'] = test['STATION'] + " " + test['LINENAME'] + " " + test['DIVISION']

In [138]:
test.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,month,year,day_of_week,lat,long,zone
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,03:00:00,REGULAR,5991546,2028378,12,2016,Saturday,40.641568,-74.017678,59 ST NQR456W BMT
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,07:00:00,REGULAR,5991565,2028389,12,2016,Saturday,40.641568,-74.017678,59 ST NQR456W BMT
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,11:00:00,REGULAR,5991644,2028441,12,2016,Saturday,40.641568,-74.017678,59 ST NQR456W BMT
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,15:00:00,REGULAR,5991971,2028502,12,2016,Saturday,40.641568,-74.017678,59 ST NQR456W BMT
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,2016-12-31,19:00:00,REGULAR,5992418,2028543,12,2016,Saturday,40.641568,-74.017678,59 ST NQR456W BMT

In [111]:
bike_df = pd.read_csv("data/201701-citibike-tripdata.csv.zip")

In [113]:
bike_df['Start Time'] = pd.to_datetime(bike_df['Start Time'])

In [114]:
bike_df['Stop Time'] = pd.to_datetime(bike_df['Stop Time'])

In [115]:
bike_df['month'] = bike_df['Start Time'].dt.month

In [116]:
bike_df['year'] = bike_df['Start Time'].dt.year

In [117]:
bike_df['day_of_week'] = bike_df['Start Time'].dt.weekday_name

In [118]:
bike_df['time_of_day'] = bike_df['Start Time'].dt.hour

In [119]:
bike_df.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,month,year,day_of_week,time_of_day
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2,1,2017,Sunday,0
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2,1,2017,Sunday,0
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0,1,2017,Sunday,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0,1,2017,Sunday,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0,1,2017,Sunday,0

In [129]:
bike_df[bike_df['Start Station Longitude'] == -73.927481]

Empty DataFrame
Columns: [Trip Duration, Start Time, Stop Time, Start Station ID, Start Station Name, Start Station Latitude, Start Station Longitude, End Station ID, End Station Name, End Station Latitude, End Station Longitude, Bike ID, User Type, Birth Year, Gender, month, year, day_of_week, time_of_day]
Index: []

In [142]:
mini_bike = bike_df.head(100)

In [144]:
mini_bike.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,month,year,day_of_week,time_of_day
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2,1,2017,Sunday,0
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2,1,2017,Sunday,0
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0,1,2017,Sunday,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0,1,2017,Sunday,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0,1,2017,Sunday,0

In [169]:
mta_loc['zone'] = mta_loc['STATION'] + " " + mta_loc['LINENAME'] + " " + mta_loc['DIVISION']

In [170]:
mta_loc.head()

         STATION LINENAME DIVISION        lat       long                 zone
0           1 AV        L      BMT  40.763368 -73.959240           1 AV L BMT
1         103 ST        1      IRT  40.773697 -73.982229         103 ST 1 IRT
2         103 ST        6      IRT  40.790231 -73.947756         103 ST 6 IRT
3         103 ST       BC      IND  40.796289 -73.961658        103 ST BC IND
4  103 ST-CORONA        7      IRT  40.749780 -73.862646  103 ST-CORONA 7 IRT

In [190]:
def biketomtazone(lat, long):
    
#     station_lat = 40.781979
#     station_long = -73.972014
    for index, location in mta_loc.iterrows():
        station_lat = location['lat']
        station_long = location['long']
        if( ((station_lat + 0.002000) >= lat)  and ((station_lat - 0.002000) <= lat) ):
            if( ((station_long + 0.003000) >= long) and ((station_long - 0.003000) <= long) ):
                return location['zone']
    return False
#     #left-top-corner
#     print(lat + 0.002000, ",",long - 0.003000)
    
#     #right-top-corner
#     print(lat + 0.002000, ",",long + 0.003000)
    
#     #right-bottom-corner
#     print(lat - 0.002000,",", long + 0.003000)
    
#     #left-bottom-corner
#     print(lat - 0.002000, ",",long - 0.003000)
    
# biketomtazone(40.782750, -73.971370)
# biketomtazone(40.776829, -73.963888)

In [175]:
mini_bike.head(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,month,year,day_of_week,time_of_day
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2,1,2017,Sunday,0
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2,1,2017,Sunday,0
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0,1,2017,Sunday,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0,1,2017,Sunday,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0,1,2017,Sunday,0
5,666,2017-01-01 00:01:51,2017-01-01 00:12:57,3163,Central Park West & W 68 St,40.773407,-73.977825,3163,Central Park West & W 68 St,40.773407,-73.977825,16050,Subscriber,2000.0,1,1,2017,Sunday,0
6,559,2017-01-01 00:05:00,2017-01-01 00:14:20,499,Broadway & W 60 St,40.769155,-73.981918,479,9 Ave & W 45 St,40.760193,-73.991255,27294,Subscriber,1973.0,1,1,2017,Sunday,0
7,826,2017-01-01 00:05:37,2017-01-01 00:19:24,362,Broadway & W 37 St,40.751726,-73.987535,445,E 10 St & Avenue A,40.727408,-73.981420,23288,Subscriber,1977.0,2,1,2017,Sunday,0
8,255,2017-01-01 00:05:47,2017-01-01 00:10:02,430,York St & Jay St,40.701485,-73.986569,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,25041,Subscriber,1989.0,1,1,2017,Sunday,0
9,634,2017-01-01 00:07:34,2017-01-01 00:18:08,3165,Central Park West & W 72 St,40.775794,-73.976206,3164,Columbus Ave & W 72 St,40.777057,-73.978985,16311,Subscriber,1980.0,1,1,2017,Sunday,0

In [184]:
mini_bike.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,month,year,day_of_week,time_of_day
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2,1,2017,Sunday,0
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2,1,2017,Sunday,0
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0,1,2017,Sunday,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0,1,2017,Sunday,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0,1,2017,Sunday,0

In [191]:
for index, ride in mini_bike.iterrows():
    result = biketomtazone(ride['Start Station Latitude'],ride['Start Station Longitude'])
    if(result is not False):
        print(result)
        mini_bike.loc[index, 'zone'] = result

81 ST-MUSEUM BC IND
8 ST-NYU NRW BMT

/home/iniyavan/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:543: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

59 ST COLUMBUS 1ABCD IRT
34 ST-PENN STA 123 IRT
YORK ST F IND
42 ST-BRYANT PK BDFM7 IND
3 AV L BMT
34 ST-HERALD SQ BDFMNQRW BMT
9TH STREET 1 PTH
BLEECKER ST 6DF IRT
BLEECKER ST 6DF IRT
14 ST 123FLM IRT
BOWERY JZ BMT
33 ST 6 IRT
33 ST 6 IRT
PRESIDENT ST 25 IRT
PRESIDENT ST 25 IRT
PRESIDENT ST 25 IRT
28 ST 1 IRT
23 ST 6 IRT
28 ST 1 IRT
PRESIDENT ST 25 IRT
PRESIDENT ST 25 IRT
28 ST 1 IRT
86 ST 1 IRT
8 ST-NYU NRW BMT
MYRTLE AV JMZ BMT
47-50 STS ROCK BDFM IND
2 AV F IND
103 ST 6 IRT
CLARK ST 23 IRT
PRESIDENT ST 25 IRT
PRESIDENT ST 25 IRT
PRESIDENT ST 25 IRT
DEKALB AV BDNQR BMT
4 AV-9 ST DFGMNR IND
14 ST ACEL IND

In [192]:
mini_bike

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender,month,year,day_of_week,time_of_day,zone
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,40.775794,-73.976206,25542,Subscriber,1965.0,2,1,2017,Sunday,0,81 ST-MUSEUM BC IND
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,40.748549,-73.988084,21136,Subscriber,1987.0,2,1,2017,Sunday,0,8 ST-NYU NRW BMT
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,18147,Customer,NaN,0,1,2017,Sunday,0,NaN
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,21211,Customer,NaN,0,1,2017,Sunday,0,NaN
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.776829,-73.963888,3152,3 Ave & E 71 St,40.768737,-73.961199,26819,Customer,NaN,0,1,2017,Sunday,0,NaN
5,666,2017-01-01 00:01:51,2017-01-01 00:12:57,3163,Central Park West & W 68 St,40.773407,-73.977825,3163,Central Park West & W 68 St,40.773407,-73.977825,16050,Subscriber,2000.0,1,1,2017,Sunday,0,NaN
6,559,2017-01-01 00:05:00,2017-01-01 00:14:20,499,Broadway & W 60 St,40.769155,-73.981918,479,9 Ave & W 45 St,40.760193,-73.991255,27294,Subscriber,1973.0,1,1,2017,Sunday,0,59 ST COLUMBUS 1ABCD IRT
7,826,2017-01-01 00:05:37,2017-01-01 00:19:24,362,Broadway & W 37 St,40.751726,-73.987535,445,E 10 St & Avenue A,40.727408,-73.981420,23288,Subscriber,1977.0,2,1,2017,Sunday,0,34 ST-PENN STA 123 IRT
8,255,2017-01-01 00:05:47,2017-01-01 00:10:02,430,York St & Jay St,40.701485,-73.986569,242,Carlton Ave & Flushing Ave,40.697787,-73.973736,25041,Subscriber,1989.0,1,1,2017,Sunday,0,YORK ST F IND
9,634,2017-01-01 00:07:34,2017-01-01 00:18:08,3165,Central Park West & W 72 St,40.775794,-73.976206,3164,Columbus Ave & W 72 St,40.777057,-73.978985,16311,Subscriber,1980.0,1,1,2017,Sunday,0,NaN
10,1081,2017-01-01 00:07:49,2017-01-01 00:25:50,528,2 Ave & E 31 St,40.742909,-73.977061,526,E 33 St & 5 Ave,40.747659,-73.984907,26138,Subscriber,1993.0,1,1,2017,Sunday,0,NaN
11,479,2017-01-01 00:08:00,2017-01-01 00:15:59,474,5 Ave & E 29 St,40.745168,-73.986831,3259,9 Ave & W 28 St,40.749370,-73.999234,19728,Subscriber,1973.0,1,1,2017,Sunday,0,NaN
12,2005,2017-01-01 00:05:57,2017-01-01 00:39:23,524,W 43 St & 6 Ave,40.755273,-73.983169,3325,E 95 St & 3 Ave,40.784903,-73.950503,17171,Subscriber,1992.0,1,1,2017,Sunday,0,42 ST-BRYANT PK BDFM7 IND
13,738,2017-01-01 00:08:50,2017-01-01 00:21:09,297,E 15 St & 3 Ave,40.734232,-73.986923,355,Bayard St & Baxter St,40.716021,-73.999744,23874,Subscriber,1996.0,1,1,2017,Sunday,0,3 AV L BMT
14,901,2017-01-01 00:09:18,2017-01-01 00:24:20,515,W 43 St & 10 Ave,40.760094,-73.994618,3428,8 Ave & W 16 St,40.740983,-74.001702,26501,Subscriber,1964.0,1,1,2017,Sunday,0,NaN
15,1246,2017-01-01 00:09:19,2017-01-01 00:30:06,3172,W 74 St & Columbus Ave,40.778567,-73.977550,3163,Central Park West & W 68 St,40.773407,-73.977825,20845,Subscriber,1977.0,1,1,2017,Sunday,0,NaN
16,899,2017-01-01 00:09:20,2017-01-01 00:24:19,515,W 43 St & 10 Ave,40.760094,-73.994618,3428,8 Ave & W 16 St,40.740983,-74.001702,15597,Subscriber,1970.0,1,1,2017,Sunday,0,NaN
17,1504,2017-01-01 00:09:29,2017-01-01 00:34:34,423,W 54 St & 9 Ave,40.765849,-73.986905,3263,Cooper Square & E 7 St,40.729236,-73.990868,17810,Subscriber,1994.0,1,1,2017,Sunday,0,NaN
18,759,2017-01-01 00:09:30,2017-01-01 00:22:09,267,Broadway & W 36 St,40.750977,-73.987654,520,W 52 St & 5 Ave,40.759923,-73.976485,27279,Customer,NaN,0,1,2017,Sunday,0,34 ST-HERALD SQ BDFMNQRW BMT
19,1231,2017-01-01 00:09:59,2017-01-01 00:30:31,369,Washington Pl & 6 Ave,40.732241,-74.000264,306,Cliff St & Fulton St,40.708235,-74.005301,21128,Subscriber,1969.0,1,1,2017,Sunday,0,9TH STREET 1 PTH
20,351,2017-01-01 00:10:11,2017-01-01 00:16:02,3139,E 72 St & Park Ave,40.771183,-73.964094,3146,E 81 St & 3 Ave,40.775730,-73.956753,26491,Subscriber,1984.0,2,1,2017,Sunday,0,NaN
21,229,2017-01-01 00:10:50,2017-01-01 00:14:40,279,Peck Slip & Front St,40.707873,-74.001670,308,St James Pl & Oliver St,40.713079,-73.998512,18417,Subscriber,1974.0,1,1,2017,Sunday,0,NaN
22,570,2017-01-01 00:10:50,2017-01-01 00:20:20,301,E 2 St & Avenue B,40.722174,-73.983688,301,E 2 St & Avenue B,40.722174,-73.983688,21400,Subscriber,1996.0,1,1,2017,Sunday,0,NaN
23,207,2017-01-01 00:10:53,2017-01-01 00:14:20,128,MacDougal St & Prince St,40.727103,-74.002971,229,Great Jones St,40.727434,-73.993790,26577,Subscriber,1991.0,1,1,2017,Sunday,0,BLEECKER ST 6DF IRT
24,6370,2017-01-01 00:11:34,2017-01-01 01:57:44,449,W 52 St & 9 Ave,40.764618,-73.987895,524,W 43 St & 6 Ave,40.755273,-73.983169,15603,Customer,NaN,0,1,2017,Sunday,0,NaN
25,6357,2017-01-01 00:11:44,2017-01-01 01:57:42,449,W 52 St & 9 Ave,40.764618,-73.987895,524,W 43 St & 6 Ave,40.755273,-73.983169,16373,Customer,NaN,0,1,2017,Sunday,0,NaN
26,6330,2017-01-01 00:12:13,2017-01-01 01:57:43,449,W 52 St & 9 Ave,40.764618,-73.987895,524,W 43 St & 6 Ave,40.755273,-73.983169,17438,Customer,NaN,0,1,2017,Sunday,0,NaN
27,1342,2017-01-01 00:12:16,2017-01-01 00:34:38,153,E 40 St & 5 Ave,40.752062,-73.981632,428,E 3 St & 1 Ave,40.724677,-73.987834,25023,Subscriber,1968.0,2,1,2017,Sunday,0,NaN
28,1173,2017-01-01 00:12:40,2017-01-01 00:32:14,368,Carmine St & 6 Ave,40.730386,-74.002150,524,W 43 St & 6 Ave,40.755273,-73.983169,26003,Subscriber,1991.0,1,1,2017,Sunday,0,BLEECKER ST 6DF IRT
29,1386,2017-01-01 00:12:55,2017-01-01 00:36:02,513,W 56 St & 10 Ave,40.768254,-73.988639,494,W 26 St & 8 Ave,40.747348,-73.997236,18569,Subscriber,1986.0,1,1,2017,Sunday,0,NaN
30,1580,2017-01-01 00:12:55,2017-01-01 00:39:15,449,W 52 St & 9 Ave,40.764618,-73.987895,523,W 38 St & 8 Ave,40.754666,-73.991382,17209,Customer,NaN,0,1,2017,Sunday,0,NaN
31,1565,2017-01-01 00:13:12,2017-01-01 00:39:18,449,W 52 St & 9 Ave,40.764618,-73.987895,523,W 38 St & 8 Ave,40.754666,-73.991382,17280,Customer,NaN,0,1,2017,Sunday,0,NaN
32,1230,2017-01-01 00:13:16,2017-01-01 00:33:46,523,W 38 St & 8 Ave,40.754666,-73.991382,247,Perry St & Bleecker St,40.735354,-74.004831,24790,Customer,NaN,0,1,2017,Sunday,0,NaN
33,2325,2017-01-01 00:13:34,2017-01-01 00:52:19,3255,8 Ave & W 31 St,40.750585,-73.994685,532,S 5 Pl & S 4 St,40.710451,-73.960876,17252,Subscriber,1980.0,2,1,2017,Sunday,0,NaN
34,1209,2017-01-01 00:13:34,2017-01-01 00:33:43,523,W 38 St & 8 Ave,40.754666,-73.991382,247,Perry St & Bleecker St,40.735354,-74.004831,21440,Customer,NaN,0,1,2017,Sunday,0,NaN
35,629,2017-01-01 00:13:35,2017-01-01 00:24:04,482,W 15 St & 7 Ave,40.739355,-73.999318,3263,Cooper Square & E 7 St,40.729236,-73.990868,23837,Subscriber,1943.0,1,1,2017,Sunday,0,14 ST 123FLM IRT
36,335,2017-01-01 00:14:20,2017-01-01 00:19:55,3429,Hanson Pl & Ashland Pl,40.685068,-73.977908,270,Adelphi St & Myrtle Ave,40.693083,-73.971789,26119,Subscriber,1990.0,1,1,2017,Sunday,0,NaN
37,337,2017-01-01 00:14:32,2017-01-01 00:20:09,473,Rivington St & Chrystie St,40.721101,-73.991925,410,Suffolk St & Stanton St,40.720664,-73.985180,17108,Subscriber,1989.0,1,1,2017,Sunday,0,BOWERY JZ BMT
38,1469,2017-01-01 00:14:36,2017-01-01 00:39:06,516,E 47 St & 1 Ave,40.752069,-73.967844,3390,E 109 St & 3 Ave,40.793297,-73.943208,19966,Customer,NaN,0,1,2017,Sunday,0,NaN
39,600,2017-01-01 00:14:47,2017-01-01 00:24:48,472,E 32 St & Park Ave,40.745712,-73.981948,334,W 20 St & 7 Ave,40.742388,-73.997262,25840,Subscriber,1985.0,2,1,2017,Sunday,0,33 ST 6 IRT
40,592,2017-01-01 00:14:55,2017-01-01 00:24:48,472,E 32 St & Park Ave,40.745712,-73.981948,334,W 20 St & 7 Ave,40.742388,-73.997262,25726,Subscriber,1986.0,1,1,2017,Sunday,0,33 ST 6 IRT
41,485,2017-01-01 00:15:08,2017-01-01 00:23:13,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,17587,Subscriber,1995.0,2,1,2017,Sunday,0,PRESIDENT ST 25 IRT
42,486,2017-01-01 00:15:12,2017-01-01 00:23:19,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,19764,Subscriber,1963.0,2,1,2017,Sunday,0,PRESIDENT ST 25 IRT
43,391,2017-01-01 00:15:17,2017-01-01 00:21:48,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,3417,Baltic St & 5 Ave,40.679577,-73.978550,18945,Subscriber,1968.0,2,1,2017,Sunday,0,PRESIDENT ST 25 IRT
44,1497,2017-01-01 00:15:29,2017-01-01 00:40:27,478,11 Ave & W 41 St,40.760301,-73.998842,236,St Marks Pl & 2 Ave,40.728419,-73.987140,25923,Subscriber,1990.0,2,1,2017,Sunday,0,NaN
45,334,2017-01-01 00:15:43,2017-01-01 00:21:17,442,W 27 St & 7 Ave,40.746647,-73.993915,482,W 15 St & 7 Ave,40.739355,-73.999318,25730,Subscriber,1973.0,2,1,2017,Sunday,0,28 ST 1 IRT
46,862,2017-01-01 00:16:39,2017-01-01 00:31:02,466,W 25 St & 6 Ave,40.743954,-73.991449,410,Suffolk St & Stanton St,40.720664,-73.985180,25236,Subscriber,1979.0,1,1,2017,Sunday,0,23 ST 6 IRT
47,919,2017-01-01 00:17:01,2017-01-01 00:32:20,442,W 27 St & 7 Ave,40.746647,-73.993915,497,E 17 St & Broadway,40.737050,-73.990093,26018,Customer,NaN,0,1,2017,Sunday,0,28 ST 1 IRT
48,1453,2017-01-01 00:17:13,2017-01-01 00:41:26,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,343,Clinton Ave & Flushing Ave,40.697940,-73.969868,25744,Customer,NaN,0,1,2017,Sunday,0,PRESIDENT ST 25 IRT
49,1471,2017-01-01 00:17:14,2017-01-01 00:41:46,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,343,Clinton Ave & Flushing Ave,40.697940,-73.969868,27273,Customer,NaN,0,1,2017,Sunday,0,PRESIDENT ST 25 IRT
50,902,2017-01-01 00:17:19,2017-01-01 00:32:21,442,W 27 St & 7 Ave,40.746647,-73.993915,497,E 17 St & Broadway,40.737050,-73.990093,18775,Customer,NaN,0,1,2017,Sunday,0,28 ST 1 IRT
51,401,2017-01-01 00:17:20,2017-01-01 00:24:01,475,E 16 St & Irving Pl,40.735243,-73.987586,237,E 11 St & 2 Ave,40.730473,-73.986724,17533,Customer,NaN,0,1,2017,Sunday,0,NaN
52,966,2017-01-01 00:17:27,2017-01-01 00:33:34,3319,14 St & 5 Ave,40.666287,-73.988951,364,Lafayette Ave & Classon Ave,40.689004,-73.960239,25525,Subscriber,1990.0,1,1,2017,Sunday,0,NaN
53,590,2017-01-01 00:17:36,2017-01-01 00:27:27,3169,Riverside Dr & W 82 St,40.787209,-73.981281,3357,W 106 St & Amsterdam Ave,40.800836,-73.966449,21100,Subscriber,1979.0,1,1,2017,Sunday,0,NaN
54,313,2017-01-01 00:17:46,2017-01-01 00:22:59,475,E 16 St & Irving Pl,40.735243,-73.987586,237,E 11 St & 2 Ave,40.730473,-73.986724,16468,Customer,NaN,0,1,2017,Sunday,0,NaN
55,718,2017-01-01 00:17:50,2017-01-01 00:29:48,3147,E 85 St & 3 Ave,40.778012,-73.954071,3135,E 75 St & 3 Ave,40.771129,-73.957723,27134,Subscriber,1963.0,1,1,2017,Sunday,0,86 ST 1 IRT
56,301,2017-01-01 00:17:50,2017-01-01 00:22:52,389,Broadway & Berry St,40.710446,-73.965251,3073,Division Ave & Hooper St,40.706913,-73.954417,18369,Subscriber,1983.0,2,1,2017,Sunday,0,NaN
57,1302,2017-01-01 00:17:51,2017-01-01 00:39:33,3161,W 76 St & Columbus Ave,40.780184,-73.977285,448,W 37 St & 10 Ave,40.756604,-73.997901,25476,Subscriber,1980.0,2,1,2017,Sunday,0,NaN
58,1305,2017-01-01 00:17:51,2017-01-01 00:39:37,3161,W 76 St & Columbus Ave,40.780184,-73.977285,448,W 37 St & 10 Ave,40.756604,-73.997901,16862,Subscriber,1975.0,1,1,2017,Sunday,0,NaN
59,81,2017-01-01 00:17:57,2017-01-01 00:19:18,3137,5 Ave & E 73 St,40.772828,-73.966853,3137,5 Ave & E 73 St,40.772828,-73.966853,17507,Subscriber,1969.0,1,1,2017,Sunday,0,NaN
60,564,2017-01-01 00:18:06,2017-01-01 00:27:31,3169,Riverside Dr & W 82 St,40.787209,-73.981281,3357,W 106 St & Amsterdam Ave,40.800836,-73.966449,27119,Subscriber,1985.0,2,1,2017,Sunday,0,NaN
61,2502,2017-01-01 00:18:12,2017-01-01 00:59:55,3263,Cooper Square & E 7 St,40.729236,-73.990868,412,Forsyth St & Canal St,40.715816,-73.994224,16981,Subscriber,1988.0,1,1,2017,Sunday,0,8 ST-NYU NRW BMT
62,184,2017-01-01 00:18:46,2017-01-01 00:21:50,3064,Myrtle Ave & Lewis Ave,40.696820,-73.937569,3059,Pulaski St & Marcus Garvey Blvd,40.693398,-73.939877,19078,Subscriber,1984.0,1,1,2017,Sunday,0,MYRTLE AV JMZ BMT
63,562,2017-01-01 00:18:47,2017-01-01 00:28:09,3233,E 48 St & 5 Ave,40.757246,-73.978059,379,W 31 St & 7 Ave,40.749156,-73.991600,25441,Subscriber,1981.0,1,1,2017,Sunday,0,47-50 STS ROCK BDFM IND
64,1730,2017-01-01 00:19:12,2017-01-01 00:48:03,312,Allen St & Stanton St,40.722055,-73.989111,82,St James Pl & Pearl St,40.711174,-74.000165,22906,Subscriber,1997.0,1,1,2017,Sunday,0,2 AV F IND
65,250,2017-01-01 00:19:24,2017-01-01 00:23:34,3379,E 103 St & Lexington Ave,40.790305,-73.947558,3400,E 110 St & Madison Ave,40.796153,-73.947821,25047,Subscriber,1985.0,2,1,2017,Sunday,0,103 ST 6 IRT
66,1169,2017-01-01 00:19:39,2017-01-01 00:39:09,445,E 10 St & Avenue A,40.727408,-73.981420,3243,E 58 St & 1 Ave,40.758924,-73.962262,23288,Subscriber,1992.0,1,1,2017,Sunday,0,NaN
67,381,2017-01-01 00:20:06,2017-01-01 00:26:28,308,St James Pl & Oliver St,40.713079,-73.998512,534,Water - Whitehall Plaza,40.702551,-74.012723,17789,Subscriber,1992.0,1,1,2017,Sunday,0,NaN
68,236,2017-01-01 00:20:15,2017-01-01 00:24:11,3354,3 St & Prospect Park West,40.668132,-73.973638,3423,West Drive & Prospect Park West,40.661063,-73.979453,25423,Subscriber,1954.0,1,1,2017,Sunday,0,NaN
69,2477,2017-01-01 00:20:18,2017-01-01 01:01:35,3137,5 Ave & E 73 St,40.772828,-73.966853,3170,W 84 St & Columbus Ave,40.785000,-73.972834,17507,Subscriber,1969.0,1,1,2017,Sunday,0,NaN
70,455,2017-01-01 00:20:21,2017-01-01 00:27:57,3343,W 107 St & Columbus Ave,40.799757,-73.962113,3350,W 100 St & Broadway,40.797372,-73.970412,26512,Subscriber,1963.0,2,1,2017,Sunday,0,NaN
71,222,2017-01-01 00:20:33,2017-01-01 00:24:15,509,9 Ave & W 22 St,40.745497,-74.001971,458,11 Ave & W 27 St,40.751396,-74.005226,22625,Subscriber,1966.0,1,1,2017,Sunday,0,NaN
72,400,2017-01-01 00:21:12,2017-01-01 00:27:52,3343,W 107 St & Columbus Ave,40.799757,-73.962113,3350,W 100 St & Broadway,40.797372,-73.970412,26805,Subscriber,1964.0,1,1,2017,Sunday,0,NaN
73,478,2017-01-01 00:21:14,2017-01-01 00:29:12,3162,W 78 St & Broadway,40.783400,-73.980931,3307,West End Ave & W 94 St,40.794165,-73.974124,25916,Subscriber,1968.0,1,1,2017,Sunday,0,NaN
74,123,2017-01-01 00:21:21,2017-01-01 00:23:24,3164,Columbus Ave & W 72 St,40.777057,-73.978985,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,19570,Subscriber,1966.0,1,1,2017,Sunday,0,NaN
75,1142,2017-01-01 00:21:31,2017-01-01 00:40:34,3354,3 St & Prospect Park West,40.668132,-73.973638,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,18075,Subscriber,1978.0,1,1,2017,Sunday,0,NaN
76,1142,2017-01-01 00:21:42,2017-01-01 00:40:44,3354,3 St & Prospect Park West,40.668132,-73.973638,353,S Portland Ave & Hanson Pl,40.685396,-73.974315,20339,Subscriber,1982.0,2,1,2017,Sunday,0,NaN
77,491,2017-01-01 00:22:02,2017-01-01 00:30:13,3354,3 St & Prospect Park West,40.668132,-73.973638,3313,6 Ave & 12 St,40.666318,-73.985462,16835,Customer,NaN,0,1,2017,Sunday,0,NaN
78,490,2017-01-01 00:22:01,2017-01-01 00:30:12,3354,3 St & Prospect Park West,40.668132,-73.973638,3313,6 Ave & 12 St,40.666318,-73.985462,16318,Subscriber,1976.0,1,1,2017,Sunday,0,NaN
79,635,2017-01-01 00:22:23,2017-01-01 00:32:59,3416,7 Ave & Park Pl,40.677615,-73.973243,3354,3 St & Prospect Park West,40.668132,-73.973638,25609,Subscriber,1953.0,2,1,2017,Sunday,0,NaN
80,1837,2017-01-01 00:22:36,2017-01-01 00:53:14,3143,5 Ave & E 78 St,40.776829,-73.963888,475,E 16 St & Irving Pl,40.735243,-73.987586,20645,Subscriber,1984.0,1,1,2017,Sunday,0,NaN
81,285,2017-01-01 00:22:45,2017-01-01 00:27:31,391,Clark St & Henry St,40.697601,-73.993446,3242,Schermerhorn St & Court St,40.691029,-73.991834,27147,Subscriber,1942.0,1,1,2017,Sunday,0,CLARK ST 23 IRT
82,1890,2017-01-01 00:23:01,2017-01-01 00:54:31,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,412,Forsyth St & Canal St,40.715816,-73.994224,15148,Subscriber,1984.0,1,1,2017,Sunday,0,PRESIDENT ST 25 IRT
83,13108,2017-01-01 00:23:07,2017-01-01 04:01:35,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,311,Norfolk St & Broome St,40.717227,-73.988021,18707,Customer,NaN,0,1,2017,Sunday,0,PRESIDENT ST 25 IRT
84,3572,2017-01-01 00:23:08,2017-01-01 01:22:41,3349,Grand Army Plaza & Plaza St West,40.672968,-73.970880,311,Norfolk St & Broome St,40.717227,-73.988021,20816,Customer,NaN,0,1,2017,Sunday,0,PRESIDENT ST 25 IRT
85,1090,2017-01-01 00:23:12,2017-01-01 00:41:22,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,326,E 11 St & 1 Ave,40.729538,-73.984267,23097,Subscriber,1984.0,1,1,2017,Sunday,0,DEKALB AV BDNQR BMT
86,131,2017-01-01 00:23:19,2017-01-01 00:25:31,3317,10 St & 5 Ave,40.668627,-73.987001,3322,12 St & 4 Ave,40.668603,-73.990439,23405,Subscriber,1959.0,1,1,2017,Sunday,0,4 AV-9 ST DFGMNR IND
87,373,2017-01-01 00:23:33,2017-01-01 00:29:47,502,Henry St & Grand St,40.714215,-73.981346,350,Clinton St & Grand St,40.715595,-73.987030,14555,Subscriber,1971.0,2,1,2017,Sunday,0,NaN
88,1282,2017-01-01 00:23:35,2017-01-01 00:44:58,532,S 5 Pl & S 4 St,40.710451,-73.960876,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,26359,Subscriber,1975.0,1,1,2017,Sunday,0,NaN
89,2339,2017-01-01 00:23:37,2017-01-01 01:02:37,3143,5 Ave & E 78 St,40.776829,-73.963888,174,E 25 St & 1 Ave,40.738177,-73.977387,22784,Subscriber,1970.0,1,1,2017,Sunday,0,NaN
90,1767,2017-01-01 00:23:40,2017-01-01 00:53:07,3143,5 Ave & E 78 St,40.776829,-73.963888,475,E 16 St & Irving Pl,40.735243,-73.987586,23068,Subscriber,1984.0,2,1,2017,Sunday,0,NaN
91,2432,2017-01-01 00:23:51,2017-01-01 01:04:24,3168,Central Park West & W 85 St,40.784727,-73.969617,346,Bank St & Hudson St,40.736529,-74.006180,16887,Subscriber,1946.0,1,1,2017,Sunday,0,NaN
92,1190,2017-01-01 00:23:57,2017-01-01 00:43:48,532,S 5 Pl & S 4 St,40.710451,-73.960876,416,Cumberland St & Lafayette Ave,40.687534,-73.972652,26099,Subscriber,1975.0,1,1,2017,Sunday,0,NaN
93,2444,2017-01-01 00:23:59,2017-01-01 01:04:44,3168,Central Park West & W 85 St,40.784727,-73.969617,346,Bank St & Hudson St,40.736529,-74.006180,19062,Subscriber,1948.0,2,1,2017,Sunday,0,NaN
94,2322,2017-01-01 00:23:59,2017-01-01 01:02:42,3143,5 Ave & E 78 St,40.776829,-73.963888,174,E 25 St & 1 Ave,40.738177,-73.977387,16832,Subscriber,1968.0,2,1,2017,Sunday,0,NaN
95,1034,2017-01-01 00:24:07,2017-01-01 00:41:21,326,E 11 St & 1 Ave,40.729538,-73.984267,448,W 37 St & 10 Ave,40.756604,-73.997901,26787,Subscriber,1973.0,1,1,2017,Sunday,0,14 ST ACEL IND
96,361,2017-01-01 00:24:21,2017-01-01 00:30:23,461,E 20 St & 2 Ave,40.735877,-73.982050,439,E 4 St & 2 Ave,40.726281,-73.989780,20968,Subscriber,1962.0,1,1,2017,Sunday,0,NaN
97,777,2017-01-01 00:24:22,2017-01-01 00:37:19,3160,Central Park West & W 76 St,40.778968,-73.973747,3341,Central Park West & W 102 St,40.795346,-73.961860,22853,Subscriber,1953.0,2,1,2017,Sunday,0,NaN
98,1024,2017-01-01 00:24:24,2017-01-01 00:41:29,398,Atlantic Ave & Furman St,40.691652,-73.999979,3396,Clinton St & 4 Place,40.678356,-74.000145,25787,Subscriber,1982.0,2,1,2017,Sunday,0,NaN
99,993,2017-01-01 00:24:29,2017-01-01 00:41:03,398,Atlantic Ave & Furman St,40.691652,-73.999979,3396,Clinton St & 4 Place,40.678356,-74.000145,26334,Subscriber,1976.0,1,1,2017,Sunday,0,NaN